<% @page_title = 'User settings' %>

<h3>
  <%= @user.login == current_user.login ? 'Editing your own'[] : "#{ 'Editing'[]} #{ h @user.login }'s" %>
  <%= @section_title %>
</h3>

<ul class="navigation">
    <li><%= link_to 'Login &amp; password', edit_user_path(current_user) %></li>
    <li><%= link_to 'Photo', new_photos_path(current_user) %></li>
</ul>
