<% @page_title = @user.login %>

<h3>
  <%= h @page_title %>
  <% can_edit? do %><%= link_to '[ edit ]', edit_user_path(@user), :class => 'edit' %><% end %>
</h3>
<p><%= avatar_for(@user) %></p>

<dl class="inline">
  <dt>Email:</dt>
  <dd><%=h @user.email %></dd>

  <dt>Timezone:</dt>
  <dd><%=h @user.time_zone %></dd>
</dl>

