<h3><%=h @user.login %></h3>

<p>Email: <%=h @user.email %></p>
<p>Timezone: <%=h @user.time_zone %></p>
<p><%= avatar_for(@user) %></p>

<% can_edit? do %>
  <p><%= link_to 'Edit', edit_user_path(@user) %></p>
<% end %>
