# Rename me deploy_local.rb
# Uncomment the Capistrano variable settings below and add the correct information
Capistrano.configuration(:must_exist).load do
  #set :db_adapter, 'postgresql'
  #set :development_db_user, ''
  #set :development_db_password, ''
  #set :development_db_host, '
  #set :development_db_name, ''
  #set :development_from_address, ''
  #set :production_db_user, ''
  #set :production_db_password, ''
  #set :production_db_host, ''
  #set :production_db_name, ''
  #set :production_from_address, ''
  #set :svn_username, ''
  #set :svn_password, ''
end
# Do not check in the deploy_local.rb file...
