/* content.css
 * 
 * This file defines the design of content elements, e.g., styles for the home
 * page.
 *
 * Use for:  one page or element, or a small group of pages.
 *
 * Do not use for:  styles which affect the entire site; use theme.css instead.
 *
 */
/* login {{{*/
div.login {
  padding : 1em 0;
  margin : 0 10em;
}
div.login dl.inline dt {
  width : 10em;
}
div.login dd.notes ul {
  margin-top : 1em;
}
div.login ul.navigation li {
  float : none;
}
/*}}}*/
/* signup {{{*/
div.signup {
  padding : 1em 0;
  margin : 0 7em;
}
div.signup dl.inline dt {
  width : 15em;
}
div.signup dd.notes ul {
  margin-top : 1em;
}
div.signup ul.navigation li {
  float : none;
}
/*}}}*/
