<% @page_title = 'Site administration' %>

<h3><%= @page_title %>, <%= @section_title %></h3>

<ul class="navigation">
  <li><%= link_to 'Home', admin_path %></li>
  <li><%= link_to 'User management', admin_users_path %></li>
</ul>
